<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name= "Test" verbose="2">
<test name="testcase" preserve-order="true">
<parameter name="Name" value="chrome"></parameter>
<classes>
<class name="browserlaunch.Browsers"></class>
<class name="browserlaunch.Exceldata"></class>
</classes>
</test>
<test name="testcase1">
<classes>
<class name="browserlaunch.login"></class>
</classes>
</test>
<test name="testcase2">
<classes>
<class name="browserlaunch.Signup"></class> 
</classes>
</test>
<test name="testcase3">
<classes>
<class name="browserlaunch.AddtoCart"></class>
</classes> 
</test>
</suite>